extends layout
block content
	h1
		Trello Google Alerts
	p
		This app grabs Google Alerts keywords
	form
		//locals.authReq
		a(href='login', id='connect', class='blue button') Start by login with Trello
